 .lo{
    float: left;
    
}



.hero{
    height:100 vh;
    width: 100%;
}

nav{
    align-items: center;
     float: right;
     display:flow-root;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px;
}

nav ul li a{
    float: left;
    text-decoration: none;
    font-weight: bold;
}

img{
    float: left;
    
}
.row {
    border: 1px solid pink;
    margin-top: 70px;
    width: 1000px;
    height: 1000px;
    padding-top: 3%;
    padding-bottom: 30%;
  
    

}



.row{
   
    justify-content: space-between;
    border: 1px solid pink;
    margin-top: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
}

col{
    display: flex;
    float: left;
    margin-top:10 auto;


    }

h3{
    font-size: large;
}