*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
  
}

ul{
    list-style-type: none;
    gap: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
   
   
}

.header ul{
    display: flex;
}

.body{
    padding:10px;
    max-width: 1300px;
    border:1px solid;
    height: 500px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    
}

.left-div{
  
    border: 5px red solid;
}

.right_div{
   
    border: 5px red solid;
    grid-template-rows: 1/2fr 1fr 1fr 1fr 1fr;
}