.container{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap:20px
    
}

.grid-item{
    display: grid;

    width: 100%;
    grid-gap:10px;
    background-color: aqua;
    justify-content: center;
    padding: 10px;
    
}

    
 ul{
    text-decoration: none;
 }   



.title{
    border: 15%;
    background-color:whitesmoke;
    margin: 10px;
    text-align: center;

}