.main{
    border: 1px blue solid;
    max-width: 100%;
    max-height: fit -content;
    padding: 10px;
}
.navigation{
    
    background-color: aqua;
    border:1px;


}


.nav{
display: flex;
justify-content: space-between;
margin-left: 25%;
margin-right: 25%;

    
}
.header{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pic1{
    max-width: 70px;
    height: 70px;
    border-radius: 50%;
}
.content{
    background-color: orangered;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    background-color: coral;
    padding: 20px;
    max-height: fit -content;
    overflow:auto
} 

div.inside{
    width: 80px;
    height: 80px;
   
}

 p{
    background-color: yellow;
}

.inside {
    background-color: aquamarine;
}

img {
    width: 90%;
    height: 90%;

}

.foot-picx{
    width: 250px;
    height: fit-content;
    
    
}

.foot-picx img{
    width: 56%;
    height: 10em;
    float: left;
}
